<style type="text/css">
.box {
	padding: 5px;
	margin: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 270px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;

}
</style>



<div class="row col-md-10 col-md-offset-3">	
<div class="box" style="width: 60%; height: 100%">
			<p>
        <%= image_tag @pin.image(:large) %>
      </p>
			<p>
        <%= @pin.description %>
      </p>
      <p>
        <%= @pin.user.name %>
      </p>
      <% if current_user == @pin.user %>
        <%= link_to 'Edit', edit_pin_path(@pin) %>
      <% end %>|
        <%= link_to 'Back', pins_path %> 
  </div>
</div>  


